flask==3.0.3
flask-socketio==5.3.6
python-socketio==5.11.4
python-engineio==4.10.1
requests==2.32.3
colorama==0.4.6
pyfiglet==1.0.2
qrcode[pil]==7.4.2
pillow==10.4.0
setuptools>=70
wheel>=0.43
gunicorn==22.0.0
